@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  background: #fff;
  margin: 0 auto;
}

.button{
  color: #ffffff;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  width: 140px;
  height: 37px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-search{
  background-color: #756157;
  width: 544px;
  height: 36px;
  margin: 12px 15px;
}

.button-contact-social {
  background-color: #fff;
  width: auto;
}

.button-grey {
  background-color: #756157;
}

.product-card-button {
  background-color: #82B3D3;
  margin: auto;
  border: none;
}

.reset-button{
  background: none;
  border: none;
  font-weight: 400;
  text-transform: none;
}

.white-button {
  background-color: #F2F2F2;
  color: #000;
}

.page-header {
  width: 1200px;
  height: 65px;
  margin: 0 auto;

}

.navigation {
  width: 1200px;
  height: 65px;
  display: flex;
  position: absolute;
  margin: 0 auto;
}

.navigation-logo {
  margin: 0 auto;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  width: 490px;
  height: 66px;
  margin: 0 auto;
  margin-left: 0;
  padding: 0;

}

.navigation-item-home {
  display: inline;
  width: 68px;
  height: 26px;
  margin: 0 auto;
  margin-top: 20px;

}

.navigation-item-histori {
  display: inline;
  width: 82px;
  height: 26px;
  margin: 0 auto;
  margin-top: 20px;
}

.navigation-item-hotel {
  display: inline;
  width: 93px;
  height: 26px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 34px;

}

.navigation-user {
  max-width: 306px;
  height: 66px;
  margin: 0 auto;
  margin-left: auto;
}

.navigation-link {
  width: 18px;
  height: 18px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 66px;
  margin: 0 ;
}

.favorites{
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding-top: 2.5px;
  z-index: 1;
}

.navigation-item-reserve {
  display: inline;
  width: 160px;
  height: 37px;
  margin: 0 auto;
  margin-top: 14px;
  margin-right: 34px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  color: #000;
  background: #fff;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/titular/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.logo-bg {
  display: flex;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  position: relative;
}

.logo-bg-text {
  display: block;
  position: absolute;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 82px;
  left: 0;
  right: 0;
}

.logo-bg-vector {
  display: block;
  margin: 0 auto;
  margin-top: 429px;
}

.title-properties {
  color: #000;
  background: #fff;
  width: 1200px;
  height: 282px;
  margin-top: 82px
}

.title {
  width: 620px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 31px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 90px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.advantages {
  color: #000;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  width: 1200px;
  height: 1535px;
  list-style: none;
  padding: 0;
}

.advantages-item1 {
  display: flex;
  width: 1199px;
  height: 384px;
  color: inherit;
}

.advantages-one {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
  color: white;
  text-align: center;
  text-align: center;
  float: left;
}

.advantages-title {
  width: 230px;
  height: 30px;
  margin: 0 auto;
  color: inherit;
  margin-top: 92px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.advantages-margin {
  margin: 0 auto;
  margin-top: 102px;
}

.advantages-description-number {
  width: 230px;
  height: 21px;
  margin: 0 auto;
  margin-top: 55px;
}

.advantages-description1 {
  width: 230px;
  height: 63px;
  margin: 0 auto;
  margin-top: 30px;
}

.imgrealsity {
  width: 799px;
  height: 384px;
  position: static;
  float: right;
  text-align: center;
}

.advanrages-list2 {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
  color: inherit;
  padding: 0;
  float: left;
  text-align: center;
  list-style: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  background-color: #83B3D31F;
  color: inherit;
  float: left;
  text-align: center;
}

.background-second {
  background-color: #fff;
}

.advantages-inventory {
  margin: 0 auto;
  margin-top: 30px;
}

.logo-home {
  display: block;
  margin: 0 auto;
  margin-top: 80px;

}

.advantages-description {
  width: 230px;
  height: 63px;
  margin: 0 auto;
  margin-top: 30px;

}

.logo-food {
  display: block;
  margin: 0 auto;
  margin-top: 81px;

}

.logo-souvenirs {
  display: block;
  margin: 0 auto;
  margin-top: 80px;

}

.devilbridge {
  width: 800px;
  height: 384px;
  position: static;
  float: right;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 417px;
  color: inherit;
}

.search-title {
  width: 296px;
  height: 36px;
  margin: 0 auto;
  margin-top: 91px;
  margin-bottom: 29px;
  color: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.search-description {
  width: 592px;
  height: 52px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.search-link {
  display: block;
  width: 574px;
  height: 60px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
}

.page-footer-catalog {
  width: 1200px;
  margin: 0 auto;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.newsletter {
  display: flex;
  width: 1200px;
  height: 411px;
  margin: 0 auto;
  color: #fff;
}

.newsletter-catalog {
  color: #000;
}

.newsletter-container{
  width: 800px;
  height: 223px;
  margin: 0 auto;
  margin-top: 93px;
}

.newsletter-title {
  width: 404px;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter-description {
  width: 475px;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 800px;
  height: 60px;
  margin: 0 auto;
}

.field{
  width: 600px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-indent: 22px;

}

.newsletter-button{
  width: 200px;
  height: 60px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.visually-hidden {
  font-size: 0px;
  line-height: 0px;
  margin: 0;
  text-decoration: none;
}

.footer-contact {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  color: inherit;
  text-decoration: none;
}

.footer-contact-list {
  display: flex;
  width: 142px;
  height: 40px;
  margin: 0 auto;
  margin-left: 70px;
  margin-top: 45px;
  padding: 0;
  list-style: none;
}

.footer-contact-item {
  margin: 0 auto;
}

.contact-adress {
  width: 720px;
  height: 50px;
  margin: 0 auto;
  margin-top: 40px;
}

.contact-phone {
  display: flex;
  margin: 0 auto;
  padding-left: 195px;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

}

.html-acafemy-logo {
  width: 115px;
  height: 34px;
  margin: 0 auto;
  margin-top: 43px;
  margin-right: 72px;
}

.main-inner {
  color: #fff;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% auto;
  font-size: 18px;
  line-height: 21px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 288px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 70px;
}

.container-inner-header {
  width: 495px;
  height: 100px;
}

.inner-header-title {
  color: #fff;
  width: 495px;
  height: 78px;
  margin: 0px auto;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: center;
}
.breadcrumbs-container{
  width: 110px;
  height: 21px;
}
.breadcrumbs {
  display: flex;
  margin: 0 auto;
  margin-left: 0;
  padding: 0;
  gap: 10px;
  font-size: 16px;
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.breadcrumbs-item{
  width: 73px;
  height: 21px;
}

.filtration-products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1060px;
  height: 149px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0px;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  height: 149px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
}

.filter-choice-left {
  display: flex;
  flex-direction: row;
  width: 366px;
  height: 149px;
  margin-right: 176px;
}

.filter-choice-right {
  display: flex;
  flex-direction: row;
  width: 520px;
  height: 148px;
}

.catalog-filter-group {
  flex: none;
  margin: 0 auto;
  width: 150px;
  height: 149px;
  float: left;
  padding: 0;
  border: 0;
}

.price {
  flex: none;
  margin: 0 auto;
  width: 290px;
  height: 148px;
  padding: 0;
  border: 0;
}

.submit-form {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 0;
}

.catalog-filter-item {
  list-style: none;
}

.product {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 1212px;
  margin: 0 auto;
  margin-top: 5px;
}

.sorting-groop-page {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  height: 49px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 56px;
  margin-left: 70px;
  align-items: center;
}

.select-title {
  color: #000;
  margin-right: 191px;
  size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-container {
  color: #000;
  background-color: #fff;
  width: 290px;
  height: 49px;
  margin: 0 auto;
  margin-left: 0;
  margin-right: 78px;
}

.select-control{
  width: 290px;
  height: 49px;
}

.button-cards-container {
  display: flex;
  width: 160px;
  height: 48px;
  margin: 0 auto;
  margin-left: 0;
  gap: 8px;
}

.button-light {
  border: #000;
  color: #000;
  background-color: #fff;

}

.border-cards{
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-style: groove;
  border-color: #000;
}

.border-light{
  border-style: solid;
  border-color: #E5E5E5;
}

.button-cards{
  color: #000;
  background-color: #fff;
}

.product-card {
  color: #000;
  display: flex;
  flex-direction: column;
  width: 1056px;
  height: 876px;
  margin: 0;
  margin-left: 73px;
  padding: 0;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  gap: 18px;
  list-style-type: none;
}

.product-card-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 438px;
}

.product-card-image-link {
  color: #000;
  margin: 0 auto;
  margin-top: 20px;
  text-decoration: none;
}
.product-card-title-link {
  color: #000;
  margin: 0 auto;
  margin-top: 20px;
  text-decoration: none;
}
.product-card-content {
  padding-left: 20px;
}
.product-card-title {
  display: flex;
  width: 300px;
  height: 28px;
  margin: 0 auto;
  margin-top: 16px;
}

.hotel-price {
  display: flex;
  width: 300px;
  height: 21px;
  margin-top: 16px;
}

.product-card-description {
  width: 140px;
  height: 21px;
  margin: 0 auto;
  margin-right: 20px;
  float: left;
}

.product-card-price {
  width: 140px;
  height: 21px;
  margin: 0 auto;
  float: right;
}

.button-cards-inform,.rating-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 37px;
  margin-top: 16px;
  gap: 20px;
}
.rating_block {
  width: 140px;
  height: 37px;
}
.rating_block input[type="radio"] {
  display: none;
}
.label_rating {
  float: left;
  display: block;
  width: 25px;
  height: 25px;
  background: url("../images/star.svg") no-repeat 50% 0;
  cursor: pointer;
}
.rating_block .label_rating:hover,
.rating_block .label_rating:hover ~ .label_rating,
.rating_block input[type="radio"]:checked ~ .label_rating
{
  background-position: 50% -25px;
}

.pagination-container{
  display: flex;
  width: 1056px;
  height: 60px;
  margin-left: 73px;
  margin-top: 96px;
  padding: 16px;
  background-color: #ffffff;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 24px 12px;
  border-radius: 5px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
}

.page-select {
  width: 160px;
  height: 49px;
}

.label-select{
  color: #000;
  margin-left: auto;
  margin-right: 71px;
  padding-top: 20px;
}

.modal-container {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-auth {
  width: 715px;
  height: 561px;
  padding: 0;
  border-radius: 30px;
}

.modal-container-close {
display: none;
}

.modal-close-button {
  position: absolute;
  width: 53px;
  height: 53px;
  padding: 0;
  top: 54px;
  right: 70px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 25px;
  background-image: url("/images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup-title{
  margin: 0 auto;
  margin-top: 62px;
  margin-left: 68px;
  margin-bottom: 63px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.form-label{
  margin-right: 37px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

}

.form-label-exit{
  margin-right: 34px;
}

.appointment-form-date{
  width: 575px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.date-reserve{
  width: 420px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-image: url("/images/calender.svg");
  background-repeat: no-repeat;
  background-position: 386px 18px;
  background-color:#F2F2F2 ;
  text-indent: 19px;
}

.form-container{
  display: flex;
  width: 575px;
  height: 50px;
  margin-left: 70px;
  margin-bottom: 40px;
  gap: 56px;
}

.appointment-form-visitors{
width: 290px;
}

.appointment-form-visitors-child{
width: 230px;
}

.number-visitors{
  width: 133px;
  height: 50px;
  margin-right: 0;
  text-align: center;
  background:url("/images/plus.svg") 101px 18px no-repeat,
  url("/images/minus.svg") 19px 24px no-repeat;
  text-indent: 0;

}

.form-label-number{
  margin-right: 61px;
}

.form-label-number-child{
  margin-right: 43px;
}

.button-popup {
  width: 575px;
  height: 60px;
  margin: auto;
  background-color: #82B3D3;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 26px;

}
